<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample page</title>

    <script src="/socket.io/socket.io.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
    ></script>

    <script>
         $(function () {
            const socket = io();

            socket.on('stock price update', value => {
                $('#stockprice').text(value);
            });
         });
    </script>
</head>
<body>
    Stock price: <span id="stockprice">no data yet</span>
</body>
</html>